body {
    margin: auto;
    background-color: rgb(40, 200, 100);
    width: 400px;
    font-family: sans-serif;
    letter-spacing: 0.2px;
}

div.main {
    background-color: white;
    padding: 30px ;
    margin-top: 60px;
    border: solid 2px black;
}

button {
    background-color: green;
    color: white;
    padding: 5px 15px;
    font-size: 15px;
    font-family: sans-serif;
}